@font-face {
  font-family: "fontLogo";
  src: url("/Minecraft.woff2") format("woff2"), url("/Minecraft.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "fontWebsite";
  src: url("/OpenSans-Regular.woff2") format("woff2"), url("/OpenSans-Regular.woff") format("woff");
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

#alert {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 1s;
  opacity: 0.9;
  width: auto;
  height: auto;
  padding: 0.7rem;
  background-color: #027e1f;
  color: #fafafa;
  border: none;
  border-radius: 5px;
  z-index: 1000;
}
#alert h4 {
  margin: 0.5rem 0;
}

#confirm {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 1s;
  opacity: 0.9;
  width: auto;
  height: auto;
  padding: 0.7rem;
  background-color: #027e1f;
  color: #fafafa;
  border: none;
  border-radius: 5px;
  z-index: 1000;
}
#confirm h4 {
  margin: 0.5rem 0;
}
#confirm div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  gap: 0.5rem;
}
#confirm div button:first-child {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #f5f5f5;
}
#confirm div button:last-child {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: red;
}

.flag-item {
  background-color: #027e1f;
  color: #fafafa;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 1rem;
  padding: 0.6rem 2.5rem 0.6rem 1.3rem;
  margin-bottom: 1rem;
  position: relative;
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  transition: transform 0.3s ease;
}
.flag-item:hover {
  transform: translateX(0.6rem);
  background-color: #029a26;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #027e1f;
}
header div:first-child {
  width: 20%;
  height: inherit;
}
header div:first-child h1 {
  margin-left: 1rem;
}
header div:first-child h1 a {
  color: #027e1f;
  text-decoration: none;
  font-size: 3.5rem;
  font-family: "fontLogo";
  letter-spacing: 0.3rem;
}
header div:last-child {
  width: 80%;
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
}
header div:last-child nav {
  width: 70%;
}
header div:last-child nav ul {
  list-style: none;
  text-align: center;
  height: inherit;
}
header div:last-child nav li {
  display: inline-block;
  width: 8rem;
  padding: 0.2rem;
  border-bottom: 2px solid #027e1f;
  margin: 0.2rem;
  cursor: pointer;
}
header div:last-child nav li:hover {
  background-color: rgba(2, 126, 31, 0.6784313725);
  border: none;
  border-radius: 5px;
}
header div:last-child nav li:hover a:only-child {
  color: #fafafa;
}
header div:last-child nav li a {
  text-decoration: none;
  color: #027e1f;
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block;
  width: 100%;
}
header div:last-child #groupBtn {
  width: 30%;
}
header div:last-child #groupBtn button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.7rem;
  color: #fafafa;
  font-weight: bold;
  font-size: 1rem;
  background-color: #027e1f;
  margin: 0 0.3rem;
  width: 40%;
  height: 50%;
}

#addTask {
  width: 70%;
  height: 40px;
  margin: 10px auto 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#addTask input {
  width: 80%;
  height: inherit;
  font-size: 20px;
}
#addTask button {
  background-color: #027e1f;
  color: #fafafa;
  width: 15%;
  height: inherit;
  margin: 0 5px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.3rem;
}

#todolist {
  width: 70%;
  margin: auto;
}
#todolist .item {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(2, 126, 31, 0.6784313725);
  color: #fafafa;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#todolist .item p {
  font-size: 20px;
  font-weight: bold;
}
#todolist .item .btnComplete {
  background-color: #027e1f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
}
#todolist .item .btnDelete {
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
}
#todolist .complete {
  opacity: 0.6;
  pointer-events: none;
}

#areaTransUppper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0.5rem;
}
#areaTransUppper textarea {
  width: 40%;
  height: 15rem;
}
#areaTransUppper button {
  width: 20%;
  height: 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
}

#btnDownloadFileUpper {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
  margin: 1rem 0;
}

#mainDashboard {
  display: flex;
  width: 100%;
  height: auto;
  flex-flow: row nowrap;
}
#mainDashboard #navDashboard {
  width: 20%;
  border: 1px solid #027e1f;
}
#mainDashboard #navDashboard div {
  padding: 0.5rem;
}
#mainDashboard #navDashboard div h2,
#mainDashboard #navDashboard div h3,
#mainDashboard #navDashboard div em {
  color: white;
}
#mainDashboard #navDashboard .navBtnDB {
  width: 100%;
  padding: 1rem;
  border: 1px solid #027e1f;
  color: #027e1f;
  cursor: pointer;
  background-color: white;
  font-size: 1rem;
  text-align: start;
}
#mainDashboard #navDashboard .navBtnDB.active {
  background-color: #027e1f;
  color: #fafafa;
}
#mainDashboard #contentDashboard {
  flex: 1;
  border: 1px solid #027e1f;
}
#mainDashboard #contentDashboard .tabContent {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  padding: 1rem;
}
#mainDashboard #contentDashboard .tabContent.active {
  opacity: 1;
  visibility: visible;
  position: relative;
}
#mainDashboard #contentDashboard #registerAdmin {
  border: 1px solid #027e1f;
  width: 50%;
  height: auto;
  padding: 1rem;
}
#mainDashboard #contentDashboard #registerAdmin input[type=email],
#mainDashboard #contentDashboard #registerAdmin input[type=text] {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
}
#mainDashboard #contentDashboard #registerAdmin input[type=email]:focus,
#mainDashboard #contentDashboard #registerAdmin input[type=text]:focus {
  outline: none;
  border: 2px solid #027e1f;
}
#mainDashboard #contentDashboard #registerAdmin button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
  margin: 1rem 0;
}
#mainDashboard #contentDashboard #registerAdmin #formDecentralize {
  width: 100%;
  height: auto;
  border: 1px solid #027e1f;
  padding: 0.5rem;
}
#mainDashboard #contentDashboard #registerAdmin #formDecentralize input[type=checkbox],
#mainDashboard #contentDashboard #registerAdmin #formDecentralize label {
  cursor: pointer;
}
#mainDashboard #contentDashboard #passwordMng input {
  height: 2rem;
  width: 20%;
}
#mainDashboard #contentDashboard #passwordMng button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
  margin-top: 1rem;
}
#mainDashboard #contentDashboard #divTableUserAdmin {
  width: 100%;
  overflow-x: auto;
  margin: 1rem 0;
}
#mainDashboard #contentDashboard #tableUserAdmin,
#mainDashboard #contentDashboard th,
#mainDashboard #contentDashboard td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: left;
}
#mainDashboard #contentDashboard #tableUserAdmin .btnGroup,
#mainDashboard #contentDashboard th .btnGroup,
#mainDashboard #contentDashboard td .btnGroup {
  display: flex;
  flex-direction: row nowrap;
  gap: 0.5rem;
}
#mainDashboard #contentDashboard #tableUserAdmin .btnEditUserAdmin,
#mainDashboard #contentDashboard th .btnEditUserAdmin,
#mainDashboard #contentDashboard td .btnEditUserAdmin {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
}
#mainDashboard #contentDashboard #tableUserAdmin .btnDeleteUserAdmin,
#mainDashboard #contentDashboard th .btnDeleteUserAdmin,
#mainDashboard #contentDashboard td .btnDeleteUserAdmin {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: red;
  color: #fafafa;
}
#mainDashboard #contentDashboard #homeMng input[type=text] {
  width: 50%;
  height: 2rem;
  font-size: 1rem;
}
#mainDashboard #contentDashboard #homeMng input[type=text]:focus {
  outline: none;
  border: 2px solid #027e1f;
}
#mainDashboard #contentDashboard #homeMng input[type=number] {
  width: 10%;
  height: 2rem;
  font-size: 1rem;
}
#mainDashboard #contentDashboard #homeMng input[type=number]:focus {
  outline: none;
  border: 2px solid #027e1f;
}
#mainDashboard #contentDashboard #homeMng input[type=file]::file-selector-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
  margin: 1rem 0;
}
#mainDashboard #contentDashboard #homeMng input[type=submit] {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
  margin: 1rem 0;
}
#mainDashboard #contentDashboard #homeMng select {
  height: 2.5rem;
  font-size: 1rem;
}
#mainDashboard #contentDashboard #homeMng em {
  color: red;
}
#mainDashboard #contentDashboard #homeMng #divTableBanner {
  width: 100%;
  overflow: scroll;
  margin: 1rem 0;
}
#mainDashboard #contentDashboard #homeMng #tableBanner,
#mainDashboard #contentDashboard #homeMng th,
#mainDashboard #contentDashboard #homeMng td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: left;
}
#mainDashboard #contentDashboard #homeMng #tableBanner .btnGroup,
#mainDashboard #contentDashboard #homeMng th .btnGroup,
#mainDashboard #contentDashboard #homeMng td .btnGroup {
  display: flex;
  flex-direction: row nowrap;
  gap: 0.5rem;
}
#mainDashboard #contentDashboard #homeMng #tableBanner .btnUpdateBanner,
#mainDashboard #contentDashboard #homeMng th .btnUpdateBanner,
#mainDashboard #contentDashboard #homeMng td .btnUpdateBanner {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
}
#mainDashboard #contentDashboard #homeMng #tableBanner .btnDeleteBanner,
#mainDashboard #contentDashboard #homeMng th .btnDeleteBanner,
#mainDashboard #contentDashboard #homeMng td .btnDeleteBanner {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: red;
  color: #fafafa;
}
#mainDashboard #contentDashboard #homeMng #divTableNotify {
  width: 100%;
  overflow: scroll;
  margin: 1rem 0;
}
#mainDashboard #contentDashboard #homeMng #tableNotify,
#mainDashboard #contentDashboard #homeMng th,
#mainDashboard #contentDashboard #homeMng td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: left;
}
#mainDashboard #contentDashboard #homeMng #tableNotify .btnGroup,
#mainDashboard #contentDashboard #homeMng th .btnGroup,
#mainDashboard #contentDashboard #homeMng td .btnGroup {
  display: flex;
  flex-direction: row nowrap;
  gap: 0.5rem;
}
#mainDashboard #contentDashboard #homeMng #tableNotify .btnUpdateNotify,
#mainDashboard #contentDashboard #homeMng th .btnUpdateNotify,
#mainDashboard #contentDashboard #homeMng td .btnUpdateNotify {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
}
#mainDashboard #contentDashboard #homeMng #tableNotify .btnDeleteNotify,
#mainDashboard #contentDashboard #homeMng th .btnDeleteNotify,
#mainDashboard #contentDashboard #homeMng td .btnDeleteNotify {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: red;
  color: #fafafa;
}
#mainDashboard #contentDashboard #softwareMng #imgApp::file-selector-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
}
#mainDashboard #contentDashboard #softwareMng input[type=submit] {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
  margin: 0.5rem 0;
}
#mainDashboard #contentDashboard #softwareMng input[type=text] {
  width: 50%;
  height: 2rem;
  font-size: 1rem;
}
#mainDashboard #contentDashboard #softwareMng select {
  width: 50%;
}
#mainDashboard #contentDashboard #softwareMng em {
  color: red;
}
#mainDashboard #contentDashboard #softwareMng #tableFuncApp,
#mainDashboard #contentDashboard #softwareMng th,
#mainDashboard #contentDashboard #softwareMng td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: left;
}
#mainDashboard #contentDashboard #softwareMng #tableFuncApp .btnGroup,
#mainDashboard #contentDashboard #softwareMng th .btnGroup,
#mainDashboard #contentDashboard #softwareMng td .btnGroup {
  display: flex;
  flex-direction: row nowrap;
  gap: 0.5rem;
}
#mainDashboard #contentDashboard #softwareMng #tableFuncApp .btnUpdateFuncApp,
#mainDashboard #contentDashboard #softwareMng th .btnUpdateFuncApp,
#mainDashboard #contentDashboard #softwareMng td .btnUpdateFuncApp {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
}
#mainDashboard #contentDashboard #softwareMng #tableFuncApp .btnDeleteFuncApp,
#mainDashboard #contentDashboard #softwareMng th .btnDeleteFuncApp,
#mainDashboard #contentDashboard #softwareMng td .btnDeleteFuncApp {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: red;
  color: #fafafa;
}
#mainDashboard #contentDashboard #softwareMng #divTableApp {
  width: 100%;
  overflow-x: auto;
  margin: 1rem 0;
}
#mainDashboard #contentDashboard #softwareMng #tableApp,
#mainDashboard #contentDashboard #softwareMng th,
#mainDashboard #contentDashboard #softwareMng td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: left;
}
#mainDashboard #contentDashboard #softwareMng #tableApp .btnGroup,
#mainDashboard #contentDashboard #softwareMng th .btnGroup,
#mainDashboard #contentDashboard #softwareMng td .btnGroup {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  height: 100%;
}
#mainDashboard #contentDashboard #softwareMng #tableApp .btnUpdateApp,
#mainDashboard #contentDashboard #softwareMng th .btnUpdateApp,
#mainDashboard #contentDashboard #softwareMng td .btnUpdateApp {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
}
#mainDashboard #contentDashboard #softwareMng #tableApp .btnDeleteApp,
#mainDashboard #contentDashboard #softwareMng th .btnDeleteApp,
#mainDashboard #contentDashboard #softwareMng td .btnDeleteApp {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: red;
  color: #fafafa;
}
#mainDashboard #contentDashboard #deviceMng #imgDevice::file-selector-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
}
#mainDashboard #contentDashboard #deviceMng input[type=submit] {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
  margin: 0.5rem 0;
}
#mainDashboard #contentDashboard #deviceMng input[type=text],
#mainDashboard #contentDashboard #deviceMng input[type=number] {
  width: 50%;
  height: 2rem;
  font-size: 1rem;
}
#mainDashboard #contentDashboard #deviceMng select {
  width: 50%;
}
#mainDashboard #contentDashboard #deviceMng em {
  color: red;
}
#mainDashboard #contentDashboard #deviceMng #tableFuncDevice,
#mainDashboard #contentDashboard #deviceMng th,
#mainDashboard #contentDashboard #deviceMng td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: left;
}
#mainDashboard #contentDashboard #deviceMng #tableFuncDevice .btnGroup,
#mainDashboard #contentDashboard #deviceMng th .btnGroup,
#mainDashboard #contentDashboard #deviceMng td .btnGroup {
  display: flex;
  flex-direction: row nowrap;
  gap: 0.5rem;
}
#mainDashboard #contentDashboard #deviceMng #tableFuncDevice .btnUpdateFuncDevice,
#mainDashboard #contentDashboard #deviceMng th .btnUpdateFuncDevice,
#mainDashboard #contentDashboard #deviceMng td .btnUpdateFuncDevice {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
}
#mainDashboard #contentDashboard #deviceMng #tableFuncDevice .btnDeleteFuncDevice,
#mainDashboard #contentDashboard #deviceMng th .btnDeleteFuncDevice,
#mainDashboard #contentDashboard #deviceMng td .btnDeleteFuncDevice {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: red;
  color: #fafafa;
}
#mainDashboard #contentDashboard #deviceMng #divTableDevice {
  width: 100%;
  overflow-x: auto;
  margin: 1rem 0;
}
#mainDashboard #contentDashboard #deviceMng #tableDevice,
#mainDashboard #contentDashboard #deviceMng th,
#mainDashboard #contentDashboard #deviceMng td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: left;
}
#mainDashboard #contentDashboard #deviceMng #tableDevice .btnGroup,
#mainDashboard #contentDashboard #deviceMng th .btnGroup,
#mainDashboard #contentDashboard #deviceMng td .btnGroup {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  height: 100%;
}
#mainDashboard #contentDashboard #deviceMng #tableDevice .btnUpdateDevice,
#mainDashboard #contentDashboard #deviceMng th .btnUpdateDevice,
#mainDashboard #contentDashboard #deviceMng td .btnUpdateDevice {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
}
#mainDashboard #contentDashboard #deviceMng #tableDevice .btnDeleteDevice,
#mainDashboard #contentDashboard #deviceMng th .btnDeleteDevice,
#mainDashboard #contentDashboard #deviceMng td .btnDeleteDevice {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: red;
  color: #fafafa;
}
#mainDashboard #contentDashboard #newsMng #imgNews::file-selector-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
}
#mainDashboard #contentDashboard #newsMng input[type=submit] {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
  margin: 0.5rem 0;
}
#mainDashboard #contentDashboard #newsMng input[type=text] {
  width: 50%;
  height: 2rem;
  font-size: 1rem;
}
#mainDashboard #contentDashboard #newsMng select {
  width: 50%;
}
#mainDashboard #contentDashboard #newsMng textarea {
  width: 50%;
  resize: vertical;
}
#mainDashboard #contentDashboard #newsMng em {
  color: red;
}
#mainDashboard #contentDashboard #newsMng #divTableCategoryNews {
  width: 100%;
  overflow-x: auto;
  margin: 1rem 0;
}
#mainDashboard #contentDashboard #newsMng #tableCategoryNews,
#mainDashboard #contentDashboard #newsMng th,
#mainDashboard #contentDashboard #newsMng td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: left;
}
#mainDashboard #contentDashboard #newsMng #tableCategoryNews .btnGroup,
#mainDashboard #contentDashboard #newsMng th .btnGroup,
#mainDashboard #contentDashboard #newsMng td .btnGroup {
  display: flex;
  flex-direction: row nowrap;
  gap: 0.5rem;
}
#mainDashboard #contentDashboard #newsMng #tableCategoryNews .btnUpdateCategoryNews,
#mainDashboard #contentDashboard #newsMng th .btnUpdateCategoryNews,
#mainDashboard #contentDashboard #newsMng td .btnUpdateCategoryNews {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
}
#mainDashboard #contentDashboard #newsMng #tableCategoryNews .btnDeleteCategoryNews,
#mainDashboard #contentDashboard #newsMng th .btnDeleteCategoryNews,
#mainDashboard #contentDashboard #newsMng td .btnDeleteCategoryNews {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: red;
  color: #fafafa;
}
#mainDashboard #contentDashboard #newsMng #divTableNews {
  width: 100%;
  overflow-x: auto;
  margin: 1rem 0;
}
#mainDashboard #contentDashboard #newsMng #tableNews,
#mainDashboard #contentDashboard #newsMng th,
#mainDashboard #contentDashboard #newsMng td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: left;
}
#mainDashboard #contentDashboard #newsMng #tableNews .divTBNewsInfo,
#mainDashboard #contentDashboard #newsMng th .divTBNewsInfo,
#mainDashboard #contentDashboard #newsMng td .divTBNewsInfo {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: 10.5em;
  margin: 0;
}
#mainDashboard #contentDashboard #newsMng #tableNews .btnGroup,
#mainDashboard #contentDashboard #newsMng th .btnGroup,
#mainDashboard #contentDashboard #newsMng td .btnGroup {
  display: flex;
  flex-direction: row nowrap;
  gap: 0.5rem;
}
#mainDashboard #contentDashboard #newsMng #tableNews .btnUpdateNews,
#mainDashboard #contentDashboard #newsMng th .btnUpdateNews,
#mainDashboard #contentDashboard #newsMng td .btnUpdateNews {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
}
#mainDashboard #contentDashboard #newsMng #tableNews .btnDeleteNews,
#mainDashboard #contentDashboard #newsMng th .btnDeleteNews,
#mainDashboard #contentDashboard #newsMng td .btnDeleteNews {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: red;
  color: #fafafa;
}

#loginContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
#loginContainer #loginForm {
  width: 50%;
  height: auto;
  padding: 1rem;
  border: 1px solid #027e1f;
  border-radius: 5px;
}
#loginContainer #loginForm input[id=emailAdmin] {
  width: 100%;
}
#loginContainer #loginForm input[id=pwAdmin] {
  width: 89%;
}
#loginContainer #loginForm input {
  height: 2rem;
  font-size: 1rem;
}
#loginContainer #loginForm input:focus {
  border: 2px solid #027e1f;
  outline: none;
}
#loginContainer #loginForm button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #027e1f;
  color: #fafafa;
  margin: 1rem 0;
}
#loginContainer #loginForm button[id=togglePwAdmin] {
  width: 10%;
  margin: 0;
}
#loginContainer #loginForm #messLoginAdmin {
  display: none;
}
#loginContainer #loginForm #rateLimitAlert {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  background-color: rgba(255, 0, 0, 0.8);
  color: #fafafa;
  display: none;
}

#divAboutAndBanner {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: auto;
  border: 1px solid black;
}
#divAboutAndBanner #notification-container {
  width: 40%;
  height: 25rem;
  padding: 0.5rem;
}
#divAboutAndBanner #notification-container #headerNotification {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px 10px 0 0;
  background-color: #0b57d0;
  color: #fafafa;
  padding: 0.5rem;
  height: 5rem;
}
#divAboutAndBanner #notification-container #headerNotification #filterNotification {
  font-size: 1rem;
  font-weight: bold;
  width: 22%;
  height: 3rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px 10px;
  cursor: pointer;
  background-color: #f5f5f5;
}
#divAboutAndBanner #notification-container #bodyNotification {
  height: 19rem;
  overflow-y: scroll;
}
#divAboutAndBanner #notification-container #bodyNotification .notify {
  border: 1px solid black;
  padding: 0.5rem;
}
#divAboutAndBanner #notification-container #bodyNotification .notify a {
  text-decoration: none;
}
#divAboutAndBanner #notification-container #bodyNotification .notify a .headerNotify {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #bbb;
}
#divAboutAndBanner #notification-container #bodyNotification .notify a p {
  color: black;
}
#divAboutAndBanner #carousel-container {
  width: 60%;
  height: 25rem;
  overflow: hidden;
  position: relative;
}
#divAboutAndBanner #carousel-container #carousel-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
#divAboutAndBanner #carousel-container #carousel-wrapper .carousel-slide {
  min-width: 100%;
  position: relative;
}
#divAboutAndBanner #carousel-container #carousel-wrapper .carousel-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#divAboutAndBanner #carousel-container #carousel-wrapper .carousel-slide .carousel-caption {
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fafafa;
  padding: 1rem;
}
#divAboutAndBanner #carousel-container #prev,
#divAboutAndBanner #carousel-container #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fafafa;
  padding: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 50% 50%;
  transition: 0.3s;
  z-index: 10;
}
#divAboutAndBanner #carousel-container #prev:hover,
#divAboutAndBanner #carousel-container #next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#divAboutAndBanner #carousel-container #prev {
  left: 0.5rem;
}
#divAboutAndBanner #carousel-container #next {
  right: 0.5rem;
}
#divAboutAndBanner #carousel-container #indicators {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  z-index: 10;
  height: 1rem;
}
#divAboutAndBanner #carousel-container #indicators .dot {
  height: 0.8rem;
  width: 0.8rem;
  margin: 0 0.3rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}
#divAboutAndBanner #carousel-container #indicators .active {
  background-color: #fafafa;
}

#divApp {
  width: 100%;
  height: auto;
  border: 1px solid black;
  padding: 1rem;
}
#divApp #headerApp {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#divApp #headerApp a {
  display: inline-block;
  text-decoration: none;
  background-color: #027e1f;
  color: #fafafa;
  font-size: 1.2rem;
  height: 2.4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
}
#divApp #groupFilterApp {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}
#divApp #groupFilterApp button {
  border: 2px solid #027e1f;
  border-radius: 1000px;
  background-color: #f5f5f5;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  height: 3rem;
  color: #027e1f;
}
#divApp #groupFilterApp button:hover {
  background-color: #027e1f;
  color: #fafafa;
}
#divApp #groupFilterApp .active {
  background-color: #027e1f;
  color: #fafafa;
}
#divApp #groupFilterApp #divFuncBtns {
  display: none;
  flex: 1;
  position: relative;
}
#divApp #groupFilterApp #divFuncBtns #funcBtns {
  width: 100%;
  border: 2px solid #027e1f;
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
  background-color: #f5f5f5;
}
#divApp #groupFilterApp #divFuncBtns #funcBtns button {
  margin: 0.5rem;
}
#divApp #groupFilterApp #divFuncBtns #funcBtns #divDeleteFuncBtn {
  justify-content: right;
  display: none;
}
#divApp #groupFilterApp #divFuncBtns #funcBtns #divDeleteFuncBtn #deleteFuncBtn {
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: red;
  color: #fafafa;
  margin: 0.5rem;
}
#divApp #listApp {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
  margin: 1rem 0;
}
#divApp #listApp .app {
  display: flex;
  flex-flow: row nowrap;
  width: 48%;
  height: auto;
  border: 1px solid #027e1f;
  margin: 1%;
}
#divApp #listApp .app div:first-child {
  width: 50%;
  height: inherit;
}
#divApp #listApp .app div:first-child img {
  width: 100%;
  height: auto;
}
#divApp #listApp .app div:last-child {
  width: 50%;
  height: inherit;
  padding: 0.5rem;
  position: relative;
  background-color: #f5f5f5;
}
#divApp #listApp .app div:last-child h4 {
  margin: 0.5rem 0;
}
#divApp #listApp .app div:last-child a {
  display: inline-block;
  text-decoration: none;
  background-color: #027e1f;
  color: #fafafa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

#divDevice {
  width: 100%;
  height: auto;
  border: 1px solid black;
  padding: 1rem;
}
#divDevice #headerDevice {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#divDevice #headerDevice a {
  display: inline-block;
  text-decoration: none;
  background-color: #027e1f;
  color: #fafafa;
  font-size: 1.2rem;
  height: 2.4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
}
#divDevice #groupFilterDevice {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}
#divDevice #groupFilterDevice button {
  border: 2px solid #027e1f;
  border-radius: 1000px;
  background-color: #f5f5f5;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  height: 3rem;
  color: #027e1f;
}
#divDevice #groupFilterDevice button:hover {
  background-color: #027e1f;
  color: #fafafa;
}
#divDevice #groupFilterDevice .active {
  background-color: #027e1f;
  color: #fafafa;
}
#divDevice #groupFilterDevice #divFuncDeviceBtns {
  display: none;
  flex: 1;
  position: relative;
}
#divDevice #groupFilterDevice #divFuncDeviceBtns #funcDeviceBtns {
  width: 100%;
  border: 2px solid #027e1f;
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
  background-color: #f5f5f5;
}
#divDevice #groupFilterDevice #divFuncDeviceBtns #funcDeviceBtns button {
  margin: 0.5rem;
}
#divDevice #groupFilterDevice #divFuncDeviceBtns #funcDeviceBtns #divDeleteFuncDeviceBtn {
  justify-content: right;
  display: none;
}
#divDevice #groupFilterDevice #divFuncDeviceBtns #funcDeviceBtns #divDeleteFuncDeviceBtn #deleteFuncDeviceBtn {
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: red;
  color: #fafafa;
  margin: 0.5rem;
}
#divDevice #listDevice {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
  margin: 1rem 0;
}
#divDevice #listDevice .device {
  display: flex;
  flex-flow: row nowrap;
  width: 48%;
  height: auto;
  border: 1px solid #027e1f;
  margin: 1%;
}
#divDevice #listDevice .device div:first-child {
  width: 50%;
  height: inherit;
}
#divDevice #listDevice .device div:first-child img {
  width: 100%;
  height: auto;
}
#divDevice #listDevice .device div:first-child p {
  margin: 0.5rem;
  font-size: 1.2rem;
}
#divDevice #listDevice .device div:last-child {
  width: 50%;
  height: inherit;
  padding: 0.5rem;
  position: relative;
  background-color: #f5f5f5;
}
#divDevice #listDevice .device div:last-child h4 {
  margin: 0.5rem 0;
}
#divDevice #listDevice .device div:last-child a {
  display: inline-block;
  text-decoration: none;
  background-color: #027e1f;
  color: #fafafa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

#divNews {
  width: 100%;
  height: auto;
  border: 1px solid black;
  padding: 1rem;
}
#divNews #headerNews {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#divNews #headerNews a {
  display: inline-block;
  text-decoration: none;
  background-color: #027e1f;
  color: #fafafa;
  font-size: 1.2rem;
  height: 2.4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
}
#divNews #groupFilterCategoryNews {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}
#divNews #groupFilterCategoryNews button {
  border: 2px solid #027e1f;
  border-radius: 1000px;
  background-color: #f5f5f5;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  height: 3rem;
  color: #027e1f;
}
#divNews #groupFilterCategoryNews button:hover {
  background-color: #027e1f;
  color: #fafafa;
}
#divNews #groupFilterCategoryNews .active {
  background-color: #027e1f;
  color: #fafafa;
}
#divNews #listNews {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
  margin: 1rem 0;
}
#divNews #listNews .news {
  width: 48%;
  height: 15rem;
  border: 1px solid #027e1f;
  background-color: #f5f5f5;
  margin: 1%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow: hidden;
}
#divNews #listNews .news .linkImg {
  width: 50%;
  height: 100%;
}
#divNews #listNews .news .linkImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}
#divNews #listNews .news .news-content {
  width: 50%;
  padding: 0.5rem 0.8rem;
  display: flex;
  flex-direction: column;
}
#divNews #listNews .news .news-content a {
  text-decoration: none;
  color: black;
}
#divNews #listNews .news .news-content a h4 {
  margin: 0 0 0.5rem 0;
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: 3em;
  margin: 0;
}
#divNews #listNews .news .news-content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: 10.5em;
  margin: 0;
}

footer {
  width: 100%;
  height: auto;
  border-top: 1px solid #027e1f;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
footer div {
  border-right: 1px solid #027e1f;
  padding: 0.5rem;
  width: 25%;
}
footer div h3 {
  color: #027e1f;
}
footer div img[alt=logo_bocongthuong] {
  width: 4.3rem;
  height: 2.2rem;
}
footer div img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.2rem;
}
footer div a {
  text-decoration: none;
  color: black;
  margin: 0.2rem 0;
}
footer div a:hover {
  color: #027e1f;
}
footer div button {
  background-color: #027e1f;
  color: #fafafa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
}
footer div:last-child p,
footer div:last-child button {
  margin: 0.5rem 0;
}
footer div:last-child input {
  width: 90%;
  height: 1.5rem;
}/*# sourceMappingURL=style.css.map */